streamlit
opencv-python-headless
torch
clip-anytorch
openai
whisper
pillow
numpy
requests
beautifulsoup4
scenedetect
lxml
streamlit
openai-whisper
scenedetect
torch
torchvision
opencv-python-headless
ffmpeg-python
requests
beautifulsoup4
git+https://github.com/openai/CLIP.git

